<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sigmob.android.demo">

    <!-- 必要权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 可选，仅获取当前网络类型及状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 可选，外部存储权限主要用于读写使用应用本身在外部存储的缓存目录，不会访问初应用缓存目录外的其它目录 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 可选，仅用于获取 IMEI 或者运营商信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 可选，仅广告安装转化 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Sigmob 3.1.0版本新增：建议添加 “query_all_package” 权限，SigMob 将通过此权限在 Android R 系统上判定广告对应的应用是否在用户的设备上安装，避免投放错误的广告，以此提高用户的广告体验。若添加此权限，需要在您的用户隐私文档中声明！-->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/windmill_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/windmill_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".natives.NativeAdUnifiedRecycleActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".natives.NativeAdUnifiedListActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".natives.NativeAdUnifiedActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".natives.NativeAdActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewInterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RewardVideoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensor" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashAdActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <!-- 以下是 DEMO 的测试 ID，请勿使用到正式环境中去！-->
        <meta-data
            android:name="sigmob.app_id"
            android:value="6878" />
        <meta-data
            android:name="sigmob.app_key"
            android:value="8ebc1fd1c27e650c" />
        <meta-data
            android:name="sigmob.splash_placement_id"
            android:value="ea1f8f21300" />
        <meta-data
            android:name="sigmob.reward_placement_id"
            android:value="ea1f8ea2d90" />
        <meta-data
            android:name="sigmob.fullScreen_placement_id"
            android:value="ea1f8f45d80" />
        <meta-data
            android:name="sigmob.native_unified_placement_id"
            android:value="ed70b4760ff" />
        <meta-data
            android:name="sigmob.newInterstitial_placement_id"
            android:value="f51c93b6bf6" />
    </application>

</manifest>